@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.body2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../assets/img/dois\ carros.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.container {
    display: flex;
    height: 62vh;
    width: 70%;
    border: solid red;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.76);


}

.div_1,
.div_2,
.div_3 {
    border: solid blue;
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

body span {
    color: white;
    font-size: 30px;
    

}
  .div_1 h1{
   display: flex;
   color: white;
   justify-content: center;
   font-size: 50px;
   margin-top: 10px;
}

.div_1 .numero h1 {
    display: flex;
    justify-content: center;
    color:  white;
    font-size: 150px;
    margin-top: -30px;
    height: 30px;
    
}

.div_1 .pontos h1{
    display: flex;
    justify-content: center;
    color:#B00505;
    font-size: 20px;
    
}